		*{
		margin: 0;
		padding: 0;
		}
		body {
		font-family: 'Open Sans', sans-serif;
		text-align: center;
		background-image:url(images/snk.png);
		background-repeat: no-repeat;	
		background-size: cover;
		background-attachment: fixed; 
		background-position: center;

		}


		.menu {	
		background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
		
		width: auto;
		margin: 3px auto;
		display: center;
		align-items: center;
		border: 2px solid black;
		font-size: 30px;
		border-radius: 10px;
		box-shadow: 0 0 6px rgba(0, 0, 0, .5);
		top:0;
		position: sticky;
		text-decoration: none;
		text-shadow: 2px 3px 5px #52BE80 ;

		}
		 
		.menu > a{
		position: relative;
		display: inline-block;
		padding: 5px 5px;
		text-decoration: none;
		font-weight: bold;
		color: #873600;
		}
		.menu > a:hover{
		transition: all 0.5s ease;
		padding: 5px 10px;
		background: #82E0AA;
		color: #000;
		font-family: 'Open Sans'
		
		}
		.Friends{
		color: #85C1E9;
		text-align: center;
		font-size: 40px;
		text-decoration-color: blue;
		margin-bottom: 50px;
		font-family: 'Pacifico', cursive;
		text-shadow: 2px 2px 1px #E74C3C;
		}
		.Canela{
		background: #17DF14;
		text-align: center;
		font-size: 32px;
		border: 2px solid black;
		display: inline-block;
		padding: 5px;
		margin: 50px 50px;
		}
		.Maria{
		background: #17DF14;
		text-align: center;
		font-size: 32px;
		border: 2px solid black;
		display: inline-block;
		padding: 5px;
		margin: 50px 50px;
		}
		.Samir{
		background: #17DF14;
		text-align: center;
		font-size: 32px;
		border: 2px solid black;
		display: inline-block;
		padding: 5px;
		margin: 50px 50px;
		}




/*-----------------------------ESTILOS APARTE-------------------------------*/

}

 	form {
	padding: 50px 20px;
	background-color: #ededed;
	margin: calc(25% + 100px);
	margin-top: 70px;
	padding-top: 28px;
	margin-bottom: 30px
	}
	h1 {
	text-align: center;
	padding: 12px;
	color: #444;
	}
	input {
	width: calc(100% - 20px);
	padding: 9px;
	margin: auto;
	margin-top: 12px;
	font-size: 16px;
	}
	input[type='submit']{
	background-color: #48e;
	color: #fff;
	width: calc(80% - 20px);
	margin: 0 10%;
	margin-top: 22px;
	border: none;
	}
	.ok {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #1e6;
	color: #fff;
	}
	.bad {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #a22;
	color: #fff;
	}


/*-----------------------------ESTILOS APARTE-------------------------------*/



