*{
	margin: 0;
	padding: 0;


}
body {
font-family: 'Open Sans', sans-serif;
text-align: center;
background-color: red;
}


	.menu1{

		background-color: cyan;
		border: 4px solid black;
		padding: 5px 5px;
		
	}

.Yo{
	color: #A100FF;
	font-size: 65px;
	text-align: center;
}


.foto1{

		border: 10px solid black;
		margin: 10px;
		 width:400px;
  		height:400px;
  		padding: 10px;
  		background-color: white;
  		
	}

.foto2{

		border: 10px solid black;
			margin: 10px;
		 width:400px;
  		height:400px;
  		padding: 10px;
  		background-color: white;
  		
  		
	}

.foto3{

		border: 10px solid black;
			margin: 10px;
		 width:400px;
  		height:400px;
  		padding: 10px;
  		background-color: white;
  		
	}
.foto4{

		border: 10px solid black;
			margin: 10px;
		 width:400px;
  		height:400px;
  		padding: 10px;
  		background-color: white;
  		
	}

.foto5{

		border: 10px solid black;
			margin: 10px;
		 width:400px;
  		height:400px;
  		padding: 10px;
  		background-color: white;
	}

.foto6{

		border: 10px solid black;
			margin: 10px;
		 width:400px;
  		height:400px;
  		padding: 10px;
  		background-color: white;
	}

	

.contenedor{
	border: 10px solid black;
	background: violet;
	display: inline-block;
	padding: 60px; 
	width: 90%;
	max-width: 1200px;
	overflow: hidden;
	
{}


.menu {

		color: red;
		margin: 2px;
		padding: 1px;
		float: center;
	{}




